/* COMMON */
:root {
  --fontColor: #121212;
  --bgColor: #fff;
  --monBgColor: #dff5ac;
  --tueBgColor: #cdf0fe;
  --wedBgColor: #ffc9bf;
  --thuBgColor: #fff9b7;
  --friBgColor: #f1c7ff;
  --plusDayBgColor: #d3d3d3;
  --weeklyItemsBgColor: #fbfbfb;
  --borderColor: #d3d3d3;
  --plusSectionFontColor: #757575;
  --placeHolderFontColor: #bbb;
  --inputBgColor: #fff;
  --inputColor: #121212;
  --weeklyItemBgColor: #f9f9f9;
  --weeklyItemFontColor: ;
  --weeklyItemIconColor: #f9f9f9;
  --weeklyItemHoverColor: #666;
  --weeklyItemIconHoverColor: #000;
  --toggleIconColor: #999;
}

:root.dark {
  --fontColor: #f1f1f1;
  --bgColor: #363636;
  --monBgColor: #5e7f0f;
  --tueBgColor: #0490c8;
  --wedBgColor: #981700;
  --thuBgColor: #908400;
  --friBgColor: #9500c7;
  --plusDayBgColor: #999;
  --weeklyItemsBgColor: #3b3b3b;
  --borderColor: #363636;
  --plusSectionFontColor: #f1f1f1;
  --placeHolderFontColor: #bbb;
  --inputBgColor: #3b3b3b;
  --inputColor: #f1f1f1;
  --weeklyItemBgColor: #4b4b4b;
  --weeklyItemFontColor: ;
  --weeklyItemIconColor: #4b4b4b;
  --weeklyItemHoverColor: #bbb;
  --weeklyItemIconHoverColor: #f1f1f1;
  --toggleIconColor: #f1f1f1;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--fontColor);
}

body {
  height: 100vh;
  background-color: var(--bgColor);
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
}

.material-icons {
  font-size: 20px;
  color: #999;
}

.material-icons:hover {
  cursor: pointer;
  color: var(--fontColor);
}

input {
  outline: none;
  border: none;
}

/* header section */
header {
  margin: 30px 0;
  padding: 30px;
}

header .inner {
  display: flex;
  align-items: flex-end;
}

header .inner .header-sub-section .header-incomplete {
  display: flex;
}

header .inner h1 {
  font-size: 36px;
  font-weight: 700;
  margin-right: 9px;
}

header .inner p {
  font-size: 14px;
  color: #999;
  font-style: italic;
}

/* weekly section */
.weekly-section {
}

.weekly-section .inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.weekly-section .inner .weekly-container {
  width: 240px;
  margin: 0 10px 20px;
}

.weekly-section .inner .weekly-container .weekly-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.weekly-section .inner .weekly-container .weekly-container-header .weekly-container-header-title {
  display: flex;
  align-items: center;
}

.plus-day-mon,
.plus-day-tue,
.plus-day-wed,
.plus-day-thu,
.plus-day-fri {
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: var(--plusDayBgColor);
  padding: 3px 4px;
  border-radius: 5px;
  transition: background-color 300ms;
}

.plus-day-mon.active {
  background-color: var(--monBgColor);
}
.plus-day-tue.active {
  background-color: var(--tueBgColor);
}
.plus-day-wed.active {
  background-color: var(--wedBgColor);
}
.plus-day-thu.active {
  background-color: var(--thuBgColor);
}
.plus-day-fri.active {
  background-color: var(--friBgColor);
}

.plus-day-mon:hover,
.plus-day-tue:hover,
.plus-day-wed:hover,
.plus-day-thu:hover,
.plus-day-fri:hover {
  cursor: pointer;
}

.plus-day-mon:hover,
.weekly-section .inner .weekly-container:nth-child(1) .weekly-container-header .weekly-container-header-title h2 {
  margin-right: 5px;
  background-color: var(--monBgColor);
  padding: 3px 4px;
  border-radius: 5px;
}

.plus-day-tue:hover,
.weekly-section .inner .weekly-container:nth-child(2) .weekly-container-header .weekly-container-header-title h2 {
  margin-right: 5px;
  background-color: var(--tueBgColor);
  padding: 3px 4px;
  border-radius: 5px;
}

.plus-day-wed:hover,
.weekly-section .inner .weekly-container:nth-child(3) .weekly-container-header .weekly-container-header-title h2 {
  margin-right: 5px;
  background-color: var(--wedBgColor);
  padding: 3px 4px;
  border-radius: 5px;
}

.plus-day-thu:hover,
.weekly-section .inner .weekly-container:nth-child(4) .weekly-container-header .weekly-container-header-title h2 {
  margin-right: 5px;
  background-color: var(--thuBgColor);
  padding: 3px 4px;
  border-radius: 5px;
}

.plus-day-fri:hover,
.weekly-section .inner .weekly-container:nth-child(5) .weekly-container-header .weekly-container-header-title h2 {
  margin-right: 5px;
  background-color: var(--friBgColor);
  padding: 3px 4px;
  border-radius: 5px;
}

.weekly-section .inner .weekly-container .weekly-container-header .weekly-container-header-title p {
  color: #999;
}

.weekly-section .inner .weekly-container .weekly-items {
  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: center;
  min-width: 240px;
  min-height: 300px;
  background-color: var(--weeklyItemsBgColor);
  border-radius: 10px;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item {
  width: 230px;
  height: 100px;
  padding: 10px;
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item.active {
  background-color: var(--weeklyItemBgColor);
  opacity: 0.5;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item:hover {
  cursor: pointer;
  background-color: var(--weeklyItemBgColor);
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item:hover.active {
  background-color: var(--weeklyItemBgColor);
  opacity: 1;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-item-title {
  /* font-weight: 700; */
  margin-bottom: 10px;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item.active .weekly-item-title {
  text-decoration: line-through;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-item-box .weekly-item-time {
  font-size: 13px;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item.active .weekly-item-box .weekly-item-time {
  text-decoration: line-through;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .item-star {
  color: #ff3b3b;
  font-size: 16px;
  cursor: default;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-icons {
  display: flex;
  justify-content: flex-end;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-icons .weekly-icon {
  margin-right: 3px;
  color: var(--weeklyItemIconColor);
  transition: 300ms;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item.active .weekly-icons .weekly-icon.check-icon {
  color: #00c500;
  opacity: 0.5;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item.active .weekly-icons .weekly-icon.delete-icon {
  color: #ff3b3b;
  opacity: 0.5;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item.active .weekly-icons .weekly-icon.delete-icon:hover,
.weekly-section .inner .weekly-container .weekly-items .weekly-item.active .weekly-icons .weekly-icon.check-icon:hover {
  opacity: 1;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item:hover .weekly-icons .weekly-icon {
  color: var(--weeklyItemHoverColor);
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-icons .weekly-icon.edit-icon.active,
.weekly-section .inner .weekly-container .weekly-items .weekly-item:hover .weekly-icons .weekly-icon.edit-icon.active {
  display: none;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-icons .weekly-icon:hover {
  color: var(--weeklyItemIconHoverColor);
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-icons .weekly-icon:last-child {
  margin-right: 0;
}

/* plus section */
.plus-section.active {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: var(--bgColor);
}

.plus-section {
  display: none;
}

.plus-section .plus-inner {
  max-width: 900px;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  padding: 30px 40px;
  margin: 0 auto;
  background-color: var(--bgColor);
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
}

.plus-section .plus-inner .plus-title-input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  background-color: var(--inputBgColor);
  border-radius: 4px;
  color: var(--inputColor);
}

.plus-section .plus-inner .plus-title-input::placeholder {
  font-size: 30px;
  color: var(--placeHolderFontColor);
}

.plus-section .plus-inner .plus-time {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.plus-section .plus-inner .plus-time label {
  color: var(--plusSectionFontColor);
  font-weight: 700;
  margin-right: 100px;
}

.plus-section .plus-inner .plus-time #time-input {
  height: 30px;
  width: 100%;
  background-color: var(--inputBgColor);
  border-radius: 4px;
  color: var(--inputColor);
}

.plus-section .plus-inner .plus-time #time-input::placeholder {
  color: var(--placeHolderFontColor);
  font-size: 16px;
}

.plus-section .plus-inner .plus-day {
  display: flex;
  margin-bottom: 15px;
}

.plus-section .plus-inner .plus-day .plus-day-title {
  color: var(--plusSectionFontColor);
  font-weight: 700;
  margin-right: 112px;
}

.plus-section .plus-inner .plus-day .plus-day-list {
  display: flex;
  flex-wrap: wrap;
}

.plus-section .plus-inner .plus-important {
  display: flex;
  margin-bottom: 30px;
}

.plus-section .plus-inner .plus-important .plus-important-title {
  color: var(--plusSectionFontColor);
  font-weight: 700;
  margin-right: 62px;
}

.plus-section .plus-inner .plus-important .plus-important-icons {
  display: flex;
  flex-wrap: wrap;
}

.plus-section .plus-inner .plus-important .plus-important-icons .plus-important-icon {
  display: flex;
  margin-right: 4px;
  border-radius: 4px;
  padding: 0 4px;
}

.plus-section .plus-inner .plus-important .plus-important-icons .plus-important-icon .important-item-star {
  margin-right: -3px;
  color: #d3d3d3;
  transition: color 300ms;
}

.plus-section .plus-inner .plus-important .plus-important-icons .plus-important-icon:hover .important-item-star {
  cursor: pointer;
  color: #ff3b3b;
}

.plus-section .plus-inner .plus-important .plus-important-icons .plus-important-icon .important-item-star:last-child {
  margin-right: 0;
}

.plus-section .plus-inner .plus-important .plus-important-icons .plus-important-icon .plus-important-3.active,
.plus-section .plus-inner .plus-important .plus-important-icons .plus-important-icon .plus-important-2.active,
.plus-section .plus-inner .plus-important .plus-important-icons .plus-important-icon .plus-important-1.active {
  color: #ff3b3b;
}

.plus-section .plus-inner .plus-section-btn-group {
  display: flex;
}

.plus-section .plus-inner .plus-section-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  /* border: 1px solid #d3d3d3; */
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
  color: #fff;
  margin-right: 8px;
}

.plus-section .plus-inner .plus-section-btn.btn__completion {
  display: none;
  background-color: #00c500;
}

.plus-section .plus-inner .plus-section-btn.btn__completion.active {
  display: flex;
}

.plus-section .plus-inner .plus-section-btn.btn__edit {
  display: none;
  background-color: rgb(71, 182, 233);
}

.plus-section .plus-inner .plus-section-btn.btn__edit.active {
  display: flex;
}

.plus-section .plus-inner .plus-section-btn.btn__cancel {
  background-color: #df0a2d;
}

.plus-section .plus-inner .plus-section-btn:hover {
  cursor: pointer;
}

.plus-section .plus-inner .plus-section-btn:active {
  transform: translateY(1.1px);
}

/* toggle section */
.toggle-section {
  position: absolute;
  top: 30px;
  right: 30px;
}

.toggle-section .light-mode,
.toggle-section .dark-mode {
  display: none;
}

.toggle-section .light-mode.active,
.toggle-section .dark-mode.active {
  display: block;
}

.toggle-section .light-mode:hover,
.toggle-section .dark-mode:hover {
  cursor: pointer;
}

.toggle-section .light-mode .material-icons,
.toggle-section .dark-mode .material-icons {
  font-size: 24px;
  transition: 300ms ease-in-out;
  color: var(--toggleIconColor);
}

.toggle-section .light-mode:hover .light-toggle,
.toggle-section .light-mode:hover .light-icon {
  color: #ffab2c;
}

.toggle-section .dark-mode:hover .dark-toggle,
.toggle-section .dark-mode:hover .dark-icon {
  color: #7a29ac;
}
