/* COMMON */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #121212;
}

body {
  height: 100vh;
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
}

.material-icons {
  font-size: 20px;
  color: #999;
}

.material-icons:hover {
  cursor: pointer;
  color: #121212;
}

input {
  outline: none;
  border: none;
}

/* header section */
header {
  margin: 30px 0;
  padding: 30px;
}

header .inner {
  display: flex;
  align-items: flex-end;
}

header .inner .header-sub-section .header-incomplete {
  display: flex;
}

header .inner h1 {
  font-size: 36px;
  font-weight: 700;
  margin-right: 9px;
}

header .inner p {
  font-size: 14px;
  color: #999;
  font-style: italic;
}

/* weekly section */
.weekly-section {
}

.weekly-section .inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.weekly-section .inner .weekly-container {
  width: 240px;
  margin: 0 10px 20px;
}

.weekly-section .inner .weekly-container .weekly-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.weekly-section .inner .weekly-container .weekly-container-header .weekly-container-header-title {
  display: flex;
  align-items: center;
}

.plus-day-mon,
.plus-day-tue,
.plus-day-wed,
.plus-day-thu,
.plus-day-fri {
  margin-right: 5px;
  background-color: #d3d3d3;
  padding: 3px 4px;
  border-radius: 5px;
  transition: background-color 300ms;
}

.plus-day-mon.active {
  background-color: rgb(223, 245, 172);
}
.plus-day-tue.active {
  background-color: rgb(205, 240, 254);
}
.plus-day-wed.active {
  background-color: rgb(255, 201, 191);
}
.plus-day-thu.active {
  background-color: rgb(255, 249, 183);
}
.plus-day-fri.active {
  background-color: rgb(241, 199, 255);
}

.plus-day-mon:hover,
.plus-day-tue:hover,
.plus-day-wed:hover,
.plus-day-thu:hover,
.plus-day-fri:hover {
  cursor: pointer;
}

.plus-day-mon:hover,
.weekly-section .inner .weekly-container:nth-child(1) .weekly-container-header .weekly-container-header-title h2 {
  margin-right: 5px;
  background-color: rgb(223, 245, 172);
  padding: 3px 4px;
  border-radius: 5px;
}

.plus-day-tue:hover,
.weekly-section .inner .weekly-container:nth-child(2) .weekly-container-header .weekly-container-header-title h2 {
  margin-right: 5px;
  background-color: rgb(205, 240, 254);
  padding: 3px 4px;
  border-radius: 5px;
}

.plus-day-wed:hover,
.weekly-section .inner .weekly-container:nth-child(3) .weekly-container-header .weekly-container-header-title h2 {
  margin-right: 5px;
  background-color: rgb(255, 201, 191);
  padding: 3px 4px;
  border-radius: 5px;
}

.plus-day-thu:hover,
.weekly-section .inner .weekly-container:nth-child(4) .weekly-container-header .weekly-container-header-title h2 {
  margin-right: 5px;
  background-color: rgb(255, 249, 183);
  padding: 3px 4px;
  border-radius: 5px;
}

.plus-day-fri:hover,
.weekly-section .inner .weekly-container:nth-child(5) .weekly-container-header .weekly-container-header-title h2 {
  margin-right: 5px;
  background-color: rgb(241, 199, 255);
  padding: 3px 4px;
  border-radius: 5px;
}

.weekly-section .inner .weekly-container .weekly-container-header .weekly-container-header-title p {
  color: #999;
}

.weekly-section .inner .weekly-container .weekly-items {
  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: center;
  min-width: 240px;
  min-height: 300px;
  background-color: rgb(251, 251, 251);
  border-radius: 10px;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item {
  width: 230px;
  height: 100px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item.active {
  background-color: rgb(249, 249, 249);
  opacity: 0.5;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item:hover {
  cursor: pointer;
  background-color: rgb(249, 249, 249);
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item:hover.active {
  background-color: rgb(249, 249, 249);
  opacity: 1;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-item-title {
  /* font-weight: 700; */
  margin-bottom: 10px;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item.active .weekly-item-title {
  text-decoration: line-through;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-item-box .weekly-item-time {
  color: #666;
  font-size: 13px;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item.active .weekly-item-box .weekly-item-time {
  text-decoration: line-through;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .item-star {
  color: #ff3b3b;
  font-size: 16px;
  cursor: default;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-icons {
  display: flex;
  justify-content: flex-end;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-icons .weekly-icon {
  margin-right: 3px;
  color: #fff;
  transition: 300ms;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item.active .weekly-icons .weekly-icon.check-icon {
  color: #00c500;
  opacity: 0.5;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item.active .weekly-icons .weekly-icon.delete-icon {
  color: #ff3b3b;
  opacity: 0.5;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item.active .weekly-icons .weekly-icon.delete-icon:hover,
.weekly-section .inner .weekly-container .weekly-items .weekly-item.active .weekly-icons .weekly-icon.check-icon:hover {
  opacity: 1;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item:hover .weekly-icons .weekly-icon {
  color: #666;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-icons .weekly-icon.edit-icon.active,
.weekly-section .inner .weekly-container .weekly-items .weekly-item:hover .weekly-icons .weekly-icon.edit-icon.active {
  display: none;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-icons .weekly-icon:hover {
  color: black;
}

.weekly-section .inner .weekly-container .weekly-items .weekly-item .weekly-icons .weekly-icon:last-child {
  margin-right: 0;
}

/* plus section */
.plus-section.active {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: #fff;
}

.plus-section {
  display: none;
}

.plus-section .plus-inner {
  max-width: 900px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 30px 40px;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
}

.plus-section .plus-inner .plus-title-input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 30px;
}

.plus-section .plus-inner .plus-title-input::placeholder {
  font-size: 30px;
  color: #bbb;
}

.plus-section .plus-inner .plus-time {
  margin-bottom: 15px;
}
.plus-section .plus-inner .plus-time label {
  color: #757575;
  font-weight: 700;
  margin-right: 100px;
}

.plus-section .plus-inner .plus-time #time-input {
  height: 30px;
}

.plus-section .plus-inner .plus-time #time-input::placeholder {
  color: #bbb;
  font-size: 16px;
}

.plus-section .plus-inner .plus-day {
  display: flex;
  margin-bottom: 15px;
}

.plus-section .plus-inner .plus-day .plus-day-title {
  color: #757575;
  font-weight: 700;
  margin-right: 112px;
}

.plus-section .plus-inner .plus-day .plus-day-list {
  display: flex;
  flex-wrap: wrap;
}

.plus-section .plus-inner .plus-important {
  display: flex;
  margin-bottom: 30px;
}

.plus-section .plus-inner .plus-important .plus-important-title {
  color: #757575;
  font-weight: 700;
  margin-right: 62px;
}

.plus-section .plus-inner .plus-important .plus-important-icons {
  display: flex;
  flex-wrap: wrap;
}

.plus-section .plus-inner .plus-important .plus-important-icons .plus-important-icon {
  display: flex;
  margin-right: 4px;
  border-radius: 4px;
  padding: 0 4px;
}

.plus-section .plus-inner .plus-important .plus-important-icons .plus-important-icon .item-star {
  margin-right: -3px;
  color: #d3d3d3;
  transition: color 300ms;
}

.plus-section .plus-inner .plus-important .plus-important-icons .plus-important-icon:hover .item-star {
  cursor: pointer;
  color: #ff3b3b;
}

.plus-section .plus-inner .plus-important .plus-important-icons .plus-important-icon .item-star:last-child {
  margin-right: 0;
}

.plus-section .plus-inner .plus-important .plus-important-icons .plus-important-icon .plus-important-3.active,
.plus-section .plus-inner .plus-important .plus-important-icons .plus-important-icon .plus-important-2.active,
.plus-section .plus-inner .plus-important .plus-important-icons .plus-important-icon .plus-important-1.active {
  color: #ff3b3b;
}

.plus-section .plus-inner .plus-section-btn-group {
  display: flex;
}

.plus-section .plus-inner .plus-section-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  /* border: 1px solid #d3d3d3; */
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
  color: #fff;
  margin-right: 8px;
}

.plus-section .plus-inner .plus-section-btn.btn__completion {
  display: none;
  background-color: #00c500;
}

.plus-section .plus-inner .plus-section-btn.btn__completion.active {
  display: flex;
}

.plus-section .plus-inner .plus-section-btn.btn__edit {
  display: none;
  background-color: rgb(71, 182, 233);
}

.plus-section .plus-inner .plus-section-btn.btn__edit.active {
  display: flex;
}

.plus-section .plus-inner .plus-section-btn.btn__cancel {
  background-color: #df0a2d;
}

.plus-section .plus-inner .plus-section-btn:hover {
  cursor: pointer;
}

.plus-section .plus-inner .plus-section-btn:active {
  transform: translateY(1.1px);
}
