/* toggle section */
.toggle-section {
  position: absolute;
  top: 30px;
  right: 30px;
}

.toggle-section .light-mode,
.toggle-section .dark-mode {
  display: none;
}

.toggle-section .light-mode.active,
.toggle-section .dark-mode.active {
  display: block;
}

.toggle-section .light-mode:hover,
.toggle-section .dark-mode:hover {
  cursor: pointer;
}

.toggle-section .light-mode .material-icons,
.toggle-section .dark-mode .material-icons {
  font-size: 24px;
  transition: 300ms ease-in-out;
  color: var(--toggleIconColor);
}

.toggle-section .light-mode:hover .light-toggle,
.toggle-section .light-mode:hover .light-icon {
  color: #ffab2c;
}

.toggle-section .dark-mode:hover .dark-toggle,
.toggle-section .dark-mode:hover .dark-icon {
  color: #7a29ac;
}
